<div class="welcome-main">
    <a class="pull-right">hello</a>
<div class="site-wrapper">

<div class="site-wrapper-inner">

  <div class="cover-container">

    <div class="masthead clearfix">

      <div class="inner">
        <img style="margin:0 auto;" src="/assets/Logo-200x120.png"/>

      </div>
    </div>

    <div class="inner cover">

    <a class="btn btn-lg welcome-Button" href="#/visitor-register">Visitor Registration <i class="fa fa-hand-o-up fa-2x " aria-hidden="true"></i>
</a>

    </div>

    <div class="mastfoot container-fluid">

      <div class="inner">

        <p align="center">&copy; Creative I</p>
        <p  align="center"><a class="text-muted">sign-in</a></p>
      </div>
    </div>

  </div>

</div>

</div>
</div>
