<div class="welcome-main">
<div class="site-wrapper">

<div class="site-wrapper-inner">

  <div class="cover-container">

    <div class="masthead clearfix">

      <div class="inner">
        <img style="margin:0 auto;" src="/assets/Logo-200x120.png"/>

      </div>
    </div>

    <div class="container main text-muted" style="text-align: center;">
      <span style="display: block; font-size:80px; line-height:1; font-weight:400;" class="thank-you">Thank You!</span>

    </div>
<h2 style="padding:0;">Our representative will get in touch with you.</h2>
    <div class="mastfoot">
      <div class="inner">
        <p>&copy; Creative I</p>
      </div>
    </div>

  </div>

</div>

</div>
</div>
